@media screen and (min-width: 993px) {
  .js-color,
  .html-color,
  .py-color,
  .sql-color {
    padding-bottom: 0.5rem;
  }

  .code-example-desktop {
    width: 993px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: auto;
  }

  .code-example {
    width: 70%;
  }

  .lang-card {
    margin: 0;
    margin-bottom: 3rem;
  }

  .lang-card h4 {
    margin-top: 0;
    padding-top: 0;
  }

  .learn-languages {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1430px;
    margin: auto;
  }

  .learn-lang-card {
    width: 43%;
    margin: 1% 2%;
  }

  .small-lang-card-section-first {
    flex-direction: row;
    max-width: 1430px;
    margin: auto;
  }

  .small-lang-card-section-first article {
    width: 44%;
    margin: 1% 2%;
  }

  .small-lang-card-size1 {
    width: 100%;
  }

  .small-lang-card-section-second {
    max-width: 1430px;
    margin: auto;
  }

  .small-lang-card-section-second article {
    width: 20%;
  }

  .footer-nav-section {
    flex-direction: row;
    padding: 2rem;
    justify-content: space-between;
    width: 830px;
    padding-bottom: 0rem;
  }

  .footer-w3-logo {
    width: 50px;
    margin: 0;
  }

  .footer-brands-nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 496px;
    gap: 1rem;
    height: 30px;
    margin-top: 2rem;
  }

  .footer-brands {
    margin: 0;
    width: 50%;
    align-items: center;
    justify-content: end;
  }

  .footer-nav {
    width: 50%;
    justify-content: start;
  }

  .footer-disclaimer {
    width: 796px;
  }

  .footer-category h4 {
    font-size: 18px;
    font-weight: 600;
  }

  .footer-category ul li {
    font-size: 12px;
  }

  .footer-category-lists
  {
    flex-direction: row;
    width: 796px;
  }

  footer a {
    font-size: 15px;
  }
}

@media screen and (min-width: 1074px) {
  .navbar-item-5 {
    display: flex;
  }

  .navbar-item-5 .nav-item-5-spaces a {
    display: none;
  }

  .navbar-item-5 .nav-item-5-plus a {
    display: none;
  }

  .navbar-item-5 .nav-item-5-teach a {
    display: none;
  }
}

@media screen and (min-width: 1100px) {
  .footer-disclaimer {
    width: 940px;
  }

  .footer-category-lists
  {
    width: 840px;
  }

  .footer-nav-section {
    width: 940px;
  }
}

@media screen and (min-width: 1224px) {
  .navbar-item-5 .nav-item-5-teach a {
    display: flex;
  }
}

@media screen and (min-width: 1338px) {
  .navbar-item-5 .nav-item-5-spaces a {
    display: flex;
  }
}

@media screen and (min-width: 1443px) {
  .navbar-item-5 .nav-item-5-plus a {
    display: flex;
  }
}

@media screen and (min-width: 1450px) {
  .footer-w3-logo {
    transform: translateX(70px);
  
  }

  .footer-nav-section {
    width: 1300px;
    transform: translateX(-35px);
  }

  .footer-disclaimer {
    width: 550px;
  }

  .footer-category-lists{
    width: 1100px;
  }
}