@media screen and (min-width: 993px) {
  .js-color,
  .html-color,
  .py-color,
  .sql-color {
    padding-bottom: 0.5rem;
  }

  .code-example-desktop {
    width: 993px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: auto;
  }

  .code-example {
    width: 70%;
  }

  .lang-card {
    margin: 0;
    margin-bottom: 3rem;
  }

  .lang-card h4 {
    margin-top: 0;
    padding-top: 0;
  }

  .learn-languages {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .learn-lang-card {
    width: 43%;
    margin: 1% 2%;
  }
}
