* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar-btn-section {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.navbar-container {
  display: flex;
  background: #000;
  color: #fff;
  padding: 1rem;
}

.navbar-item {
    width: 60px;
}

.navbar-login-btn
{
    text-wrap: nowrap;
}

.grow {
  display: flex;
  flex: 1;
}

@media screen and (min-width: 360px) {
  }
