* {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
}

body {
  margin: 0;
  overflow-x: hidden;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer a {
  color: #fff4a3;
  font-size: 20px;
  font-weight: 600;
  margin: 0.8rem 0;
}

footer h4 {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 0rem;
  margin-top: 2rem;
  margin-bottom: 0rem;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}

footer ul li {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.footer-disclaimer {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  display: inline;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0.5rem 0;
}

.footer-nav a {
  margin: -0.2rem;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  gap: 1.5rem;
  padding: 0;
  margin: 2rem 0;
  justify-content: center;
}

.footer-link {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-decoration: underline;
}

.footer-w3-logo {
  display: flex;
  height: 50px;
  margin-bottom: 1rem;
}

.footer-brands {
  display: flex;
  flex-wrap: wrap;
  max-width: 33%;
  justify-content: space-around;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.fill-white {
  filter: brightness(0) invert(1);
}

.lang-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.lang-card h4 {
  padding-top: 1rem;
  margin: 1rem;
  font-size: 60px;
  font-weight: 700;
}

.lang-card p {
  margin: 0;
  font-size: 19px;
  font-weight: 600;
  text-wrap: nowrap;
}

.lang-card a {
  width: 200px;
}

.lang-btn-style {
  align-content: center;
  font-weight: 600;
  font-size: 18px;
  padding: 0.7rem;
  margin-top: 1.4rem;
  border-radius: 9999px;
}

.lang-btn-color-green {
  background: #04aa6b;
  color: #fff;
}

.lang-btn-color-yellow {
  background: #fff4a3;
  color: #000;
}

.lang-btn-color-grey {
  background: #282a35;
  color: #fff;
}

.lang-btn-color-pink {
  background: #ffc0c7;
  color: #000;
}

.lang-btn-color-white {
  background: #fff;
  color: #000;
}

.navbar-btn-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.navbar-container {
  z-index: 1000;
  position: fixed;
  display: flex;
  width: 100%;
  background: #ffffff;
  padding: 8px 1.1rem;
}

.navbar-logo {
  width: 38px;
}

.navbar-item-1 {
  width: 70px;
  margin-left: 2.1rem;
}

.navbar-item-2 {
  width: 42px;
  margin-right: 1.2rem;
  margin-left: -0.4rem;
}

.navbar-item-3 {
  width: 16px;
}

.navbar-item-4 {
  display: none;
  align-items: center;
  justify-content: space-around;
  width: 306px;
  margin: 0 7px;
}

.navbar-item-4 a {
  display: flex;
  align-items: center;
}

.navbar-item-4 .navbar-cert {
  display: none;
}

.navbar-item-4 i {
  margin-left: -4px;
  margin-top: 1px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.navbar-icon-search {
  width: 16px;
}

.navbar-icon-contrast {
  width: 16px;
}

.auth-buttons-container {
  position: relative;
  display: flex;
}

.navbar-login-btn {
  text-wrap: nowrap;
  background: #d9eee1;
  padding: 0.6rem 1.5rem;
  border-radius: 9999px;
  position: relative;
  z-index: 1;
}

.navbar-signup-btn {
  display: none;
  text-wrap: nowrap;
  background: #04aa6d;
  color: #fff;
  padding: 0.6rem 1.5rem;
  border-radius: 9999px;
  position: absolute;
  right: 70px;
  z-index: 2;
}

.navbar-menu-btn {
  display: flex;
  align-items: center;
  margin: 0;
}

.navbar-menu-btn i {
  margin-left: -4px;
  margin-top: 1px;
}

.topnav-color {
  z-index: 1000;
  margin-top: 3.5rem;
  position: fixed;
  width: 100%;
  background: #282a35;
}

.topnav-container {
  white-space: nowrap;
  padding: 0.4rem 0rem;
}

.topnav-items span {
  margin: 0rem 0.95rem;
  color: #fff;
  font-size: 16px;
}

.hero-color {
  background: #282a35;
}

.main-container {
  width: 80%;
  margin: 0 auto;
}

.learn-to-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5.5rem;
  width: 100%;
}

.code-example {
  display: none;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 5px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
}

.hero-section {
  padding: 2.7rem 0rem;
}

.hero-section h1 {
  color: #fff;
  font-weight: 700;
  font-size: 50px;
  word-spacing: 0.05rem;
  line-height: 1.5;
  margin-bottom: 0;
}

.hero-section h3 {
  color: #fff4a3;
  font-weight: 700;
  font-size: 21px;
  margin-top: 0.6rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.search-container {
  display: flex;
  width: 100%;
  max-width: 500px;
}

.hero-section input {
  background: #fff;
  border: none;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  height: 2.6rem;
  min-width: 80%;
  font-size: 16px;
  font-weight: 600;
  text-indent: 12px;
  margin: 0;
}

.search-container button {
  background: #04aa6b;
  color: white;
  border: none;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  height: 2.6rem;
  width: 20%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container img {
  z-index: 500;
  filter: brightness(0) invert(1);
}

.hero-section h4 {
  font-weight: 700;
  color: #fff;
  font-size: 23px;
  margin-top: 2.2rem;
  text-decoration: underline;
  margin-bottom: 3.7rem;
}

.learn-languages {
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.learn-lang-card {
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 94%;
  padding: 0.3rem;
  border-radius: 0.4rem;
  height: 265px;
}

.learn-lang-card h4 {
  margin: 2rem 1rem 1rem 1rem;
  font-weight: 700;
  font-size: 50px;
}

.learn-lang-card p {
  margin: 0.5rem;
  color: #3a3a3a;
  font-weight: 700;
  font-size: 17px;
  height: 44px;
}

.learn-lang-card a {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  margin: 1rem;
  width: 200px;
  padding: 0.7rem;
  border-radius: 9999px;
}

.search-input-text {
  display: none;
}

svg {
  display: flex;
}

.css-color {
  background: #fff4a3;
}

.html-color {
  background: #d9eee1;
  padding-bottom: 2rem;
}

.js-color {
  background: #282a35;
}

.sql-color {
  background: #96d4d4;
}

.py-color {
  background: #f3ecea;
}

.learn-lang-color-pink {
  background: #ffc0c7;
}

.learn-lang-color-bootstrap {
  background: #e7e9eb;
}

.center-content {
  display: flex;
  text-align: center;
  justify-content: center;
}

.grow {
  display: flex;
  flex: 1;
}

.small-lang-card-styling {
  display: flex;
  flex-direction: column;
  width: 94%;
  border-radius: 0.4rem;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
}

.small-lang-card-size1 {
  height: 137px;
}

.small-lang-card-size2 {
  height: 113px;
}

.small-lang-card-section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-bottom: 4rem;
}

.white-text h4,
.white-text p {
  color: #fff;
}

@media screen and (min-width: 400px) {
  .navbar-item-1 {
    margin-right: 0.7rem;
    margin-left: 2.6rem;
  }

  .navbar-item-2 {
    margin-right: 1.5rem;
  }
}
