@media screen and (min-width: 476px) {
  .navbar-signup-btn {
    display: flex;
  }

  .navbar-login-btn {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 601px) {
  .learn-to-code {
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .learn-to-code h1 {
    font-size: 60px;
  }

  .learn-to-code h3 {
    font-size: 23px;
  }

  .code-example {
    display: flex;
    background: #e7e9eb;
  }

  .code-styling {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .code-styling h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 1rem 0;
  }

  .code-styling a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #04aa6d;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    width: 200px;
    height: 43px;
    border-radius: 9999px;
  }

  .code-window {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background: #fff;
    padding: 8px 12px;
    width: 100%;
    font-weight: 400;
    margin-bottom: 16px;
  }

  .code-window-added-line {
    background: #04aa6d;
    width: 4px;
    margin-bottom: 16px;
  }

  .lang-card {
    margin-bottom: 3.5rem;
  }
}

@media screen and (min-width: 617px) and (max-width: 689px) {
  .search-input {
    display: flex;
    padding: 0.4rem 0.6rem;
    border: 1px solid #9d9d9d;
    border-radius: 9999px;
    width: 175px;
  }

  .navbar-item-1 {
    margin-right: 0.7rem;
  }

  .navbar-item-2 {
    width: 175px;
  }

  .navbar-item-3 {
    margin-left: 1rem;
  }

  .search-input-text {
    color: #9d9d9d;
    display: block;
    flex: 1;
    margin-left: 0.6rem;
    font-style: italic;
  }
}

@media screen and (min-width: 689px) {
  .navbar-logo {
    margin-right: 1rem;
  }

  .navbar-item-1 {
    display: none;
  }

  .navbar-item-2 {
  }

  .navbar-item-4 {
    display: flex;
  }
}

@media screen and (min-width: 770px) {
  .lang-card h4 {
    font-size: 100px;
  }
}

@media screen and (min-width: 829px) {
  .search-input {
    display: flex;
    padding: 0.4rem 0.6rem;
    border: 1px solid #9d9d9d;
    border-radius: 9999px;
    width: 175px;
  }

  .search-input-text {
    color: #9d9d9d;
    display: block;
    flex: 1;
    margin-left: 0.6rem;
    font-style: italic;
  }

  .navbar-item-2 {
    width: 175px;
  }
}

@media screen and (min-width: 954px) {
  .navbar-item-4 {
    width: 426px;
  }

  .navbar-item-4 .navbar-cert {
    display: flex;
  }
}
